@media (min-width: 480px) and (max-width: 767px){

    header{
        margin: 3% 0;
        display: inline;
    }
    h2{
        float: left;
        color: #4e4e4e;
        font-weight: bold;

    }

}

@media screen and (min-width:767px) and (max-width:960px), @media screen and (min-width:767px) and (max-width:1024px) {
    header{
        margin: 1% 0;
        display: inline;

    }
    h2{
        /* display: none; */
        float: left;
        color: #4e4e4e;
        font-weight: bold;
    }
}
footer{
    width: 100%;
}
@media screen and (min-width:767px) and (max-width:1024px){
    header{
        margin: 1% 0;
        display: inline;

    }
    h2{
        
        float: left;
        color: #4e4e4e;
        font-weight: bold;
    }
}
footer{
    width: 100%;
}
}

header{
    display: inline;
}