


@media (min-width: 480px) and (max-width: 767px){
    header{
        margin: 3% 0;
    }
    h2{
        float: left;
        color: #4e4e4e;
        font-weight: bold;
    }
    p{
        margin-left: 82px;
    }
   
    .a,.b ,.c ,.d{
        width: 480px;
        height: 75px;
        
    }
    .e, .f ,.g ,.h{
        width: 240px;
        height: 250px;
    }
    .i{
        clear: both;
        width: 480px;
        height: 80px;
    }
    .e{
        float: left;
        
    }
    .g{
        clear: both;
        float: left;
    }
    .f{
        float: left;
        display: inline-block;
    }
    .h{
        float: left;
    }
    
   
    
    .a,.b ,.c ,.d {
    
        background-image: url("https://via.placeholder.com/480x75");
      
    
    }
    .e, .f ,.g ,.h {
        background-image: url("https://via.placeholder.com/240x250");
        /* float: left; */
    }
    .i{
        background-image: url("https://via.placeholder.com/480x80");
    }
    /* .a{
        border: 1px solid grey;
    } */
    .a,.b ,.c ,.d,.e, .f ,.g ,.h,.i{
        border: 1px solid grey;
    }
    .b,.c,.d,.e,.f,.g,.h,.i{
        border-top: none;
    }
    .e,.g{
        border-right: none;
    }
    .f,.h{
/* border-left: none; */
margin-left:-1px
    }
    
    
}

@media (min-width:767px) and (max-width:960px){
header{
    margin: 1% 0;
}
h2{
    /* display: none; */
    float: left;
    color: #4e4e4e;
    font-weight: bold;
}

p{
    margin-left: 82px;
    color: #4e4e4e;
}
.a{
    width: 960px;
    height: 100px;
    
}
.b{
    width: 200px;
    height: 600px;
}
.c,.d{
    width: 380px;
    height: 200px;
}
.e,.f,.g,.h{
    width: 190px;
    height: 250px;
}
.i{
    width: 760px;
    height: 150px;
}



.a{
    background-image: url("https://via.placeholder.com/960x100");
}
.b{
    background-image: url("https://via.placeholder.com/200x600");
}
.c,.d{
    background-image: url("https://via.placeholder.com/380x200");
}
.e,.f,.g,.h{
    background-image: url("https://via.placeholder.com/190x250");
}
.i{
    background-image: url("https://via.placeholder.com/760x150");
}
.b,.c,.d{
    float: left;
}


 .e{
     /* float: left; */
    position: relative;
    top: 200px;
    left: 200px;
    
}
.f{
    position: relative;
    top: -50px;
    left: 390px;
}
.g{
    position: relative;
    top: -300px;
    left: 580px;
}
.h{
    position: relative;
    top: -550px;
    left: 770px;
}
.i{
    position: relative;
    top: -550px;
    left: 200px;
}
footer{
    float: left;
}



}




